In [13]:
from pathlib import Path

import geopandas as gpd
from shapely import Point

In [14]:
gdf = gpd.read_file(Path("~/elevation_data/index.gti.gpkg"))
gdf

,location,geometry
0,sources/cop90/S2_W13/Copernicus_DSM_COG_30_S21...,"POLYGON ((-139.00042 -19.99958, -138.00042 -19..."
1,sources/cop90/S2_W13/Copernicus_DSM_COG_30_S24...,"POLYGON ((-136.00042 -22.99958, -135.00042 -22..."
2,sources/cop90/S2_W13/Copernicus_DSM_COG_30_S23...,"POLYGON ((-137.00042 -21.99958, -136.00042 -21..."
3,sources/cop90/S2_W13/Copernicus_DSM_COG_30_S22...,"POLYGON ((-139.00042 -20.99958, -138.00042 -20..."
4,sources/cop90/S2_W13/Copernicus_DSM_COG_30_S22...,"POLYGON ((-136.00042 -20.99958, -135.00042 -20..."
...,...,...
26567,sources/aw3d30_gb/N050E000_N055E005/ALPSMLC30_...,"POLYGON ((4 54, 5 54, 5 53, 4 53, 4 54))"
26568,sources/aw3d30_gb/N050E000_N055E005/ALPSMLC30_...,"POLYGON ((1 52, 2 52, 2 51, 1 51, 1 52))"
26569,sources/aw3d30_gb/N060W005_N065E000/ALPSMLC30_...,"POLYGON ((-1 61, 0 61, 0 60, -1 60, -1 61))"
26570,sources/aw3d30_gb/N060W005_N065E000/ALPSMLC30_...,"POLYGON ((-3 61, -2 61, -2 60, -3 60, -3 61))"
26571,sources/aw3d30_gb/N060W005_N065E000/ALPSMLC30_...,"POLYGON ((-2 61, -1 61, -1 60, -2 60, -2 61))"

In [25]:
points = gpd.GeoDataFrame(geometry=gpd.GeoSeries([Point(0, 51.4)]), crs=gdf.crs)

In [28]:
gpd.sjoin(gdf, points, how="inner", predicate="intersects")

,location,geometry,index_right
26338,sources/cop90/N5_E00/Copernicus_DSM_COG_30_N51...,"POLYGON ((-0.00062 52.00042, 0.99938 52.00042,...",0
26566,sources/aw3d30_gb/N050E000_N055E005/ALPSMLC30_...,"POLYGON ((0 52, 1 52, 1 51, 0 51, 0 52))",0

In [30]:
_["location"]

26338    sources/cop90/N5_E00/Copernicus_DSM_COG_30_N51...
26566    sources/aw3d30_gb/N050E000_N055E005/ALPSMLC30_...
Name: location, dtype: object

In [ ]:
# TODO: Given a series of points pick the last location for each